// Setting sass variables.
$primary-font: Calibri, sans-serif;

body {
  margin: 0;
  padding: 0;
}

#App {
  font-family: $primary-font;

  .chess-board-container {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}